<div class="panel white" id="mediaonas">
  <section class="content news-wrapper center">
    <a name="media"></a>
    <h2>Media o nas</h2>
    <p class="intro">Czasami o nas piszą.</p>
    <div class="news-container">
      <% page.posts.filter(function(item) {
        var data = item.categories.data
        return (data.length && data[0].name === 'media')
       })
       .slice(0, 3)
       .each(function(item){ %>

        <article class="news">
          <a href="<%- config.root %><%- item.path %>" rel="bookmark">
            <img src="<%- config.root %>images/<%- item.image %>"/>
            <h3 class="title entry-title">
              <%= item.title %>
            </h3>
          </a>
          <div class="date entry-meta">
            <a href="<%- config.root %><%- item.path %>" rel="bookmark">
              <%= item.date.format(config.date_format) %>
            </a>
          </div>
          <div class="entry-content">
            <p>
              <%- item.description %>
              <a href="<%- config.root %><%- item.path %>" class="more-link link">
                Czytaj dalej
                <span class="meta-nav">→</span>
              </a>
            </p>
          </div>
        </article>

      <% }); %>

    </div>
    <div class="gallery-button">
      <a href="<%- config.root %>categories/media/" class="button">Wszystkie wpisy</a>
    </div>
  </section>
</div>
